html,
body {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 600px;
}

#drawing {
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(37, 44, 65, 0.25);
}

#executeButton {
  width: 100px;
  height: 32px;
  font-size: 24px;
  cursor: pointer;
  background: linear-gradient(45deg, #f6446a 30%, #7853ff 90%);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  text-align: center;
  padding: 4px 0;
  user-select: none;
}

#executeButton:active {
  border-color: #fff;
  box-shadow: inset 0 3px 5px 2px rgba(255, 105, 135, 0.3);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
}

.left {
  width: 334px;
  height: 100%;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.right {
  width: 466px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 8px;
}

.input-file-button {
  width: 114px;
  height: 32.8px;
  line-height: 32.8px;
  text-align: center;
  background: #00bfff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

#input {
  display: none;
}

.file {
  width: 100%;
  height: 207px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.direction {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px 5px 10px 5px;
  border: 1px solid rgb(56, 54, 54);
}

#X,
#Y,
#Z {
  width: 60px;
  box-sizing: border-box;
  padding-left: 5px;
}

.step {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid rgb(56, 54, 54);
  margin-top: 10px;
}

#stepName {
  width: 100%;
}

#run {
  width: 100%;
  padding: 10px;
  width: 100%;
  height: 42.8px;
  border: 1px solid rgb(56, 54, 54);
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 20px;
}

#cold {
  width: 100%;
  padding: 10px;
  width: 100%;
  height: 42.8px;
  border: 1px solid rgb(56, 54, 54);
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 20px;
}

.stepXY {
  width: 100%;
}

#xStep {
  padding-left: 60px;
}

#yStep {
  padding-left: 60px;
}

#speed {
  width: 100%;
  padding: 10px;
  width: 100%;
  height: 42.8px;
  border: 1px solid rgb(56, 54, 54);
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 20px;
}
